body{
    background-color: skyblue;
    color: floralwhite;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

button {
    padding: 5px 20px;
    background-color:  #337AB7;
    color: floralwhite;
    border-style: none;
    border-radius: 20px;
}

input{
    height: 20px;
    border-radius: 20px;
}
